/*@import url(./node_modules/@picocss/pico/css/pico.cyan.css);*/
@import url(./node_modules/prismjs/themes/prism-solarizedlight.css);
/*@import url(./node_modules/sweetalert/dist/sweetalert.css);*/
@import url(../lib/croppix-ez.css);

:root {
    --pico-font-size: 90%;
    --pico-spacing: 0.5rem;
}

/* set margin as height as margin of language-XXXX in prismjs */
/* border-radius: 0.3em; could also be set, but it need background color */
.demonstration {
    margin-top: 0.5em;
}

html {
    width  : 100%;
    border:0;
    margin:0;
    padding:0;
    overflow-x: hidden;
    position: relative;
    overscroll-behavior-x:none;
}
body {
    width  : 100%;
    margin:0;
    overflow-x: hidden;
    position: relative;
    overscroll-behavior-x:none;
}

