@import url(./node_modules/@picocss/pico/css/pico.grey.css);
@import url(./node_modules/highlight.js/styles/stackoverflow-light.css);
@import url(./node_modules/sweetalert/dist/sweetalert.css);
@import url(../dist/croppix-ez.css);

:root {
    --pico-font-size: 95%;
    --pico-spacing: 0.5rem;
}

a[target="_blank"]:after {
    content: " ↗";
    font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* this rule prevent iPad Safari to bounce the page horizontally */
html {
    width  : 100%;
    border:0;
    margin:0;
    padding:0;
    overflow-x: hidden;
    position: relative;
    overscroll-behavior-x:none;
}
body {
    width  : 100%;
    margin:0;
    overflow-x: hidden;
    position: relative;
    overscroll-behavior-x:none;
}


/* set margin as height as margin of language-XXXX in prismjs */
/* border-radius: 0.3em; could also be set, but it need background color */
.demonstration {
    display: grid;
    row-gap:10px;
}

code {
    color: #121212;
}

.hljs-comment {
    color: rgb(200, 49, 85)
}

.hljs-keyword {
    font-weight: bold;
}